body {
	font-family: "Arial";
	text-align: center; 
	background: white;
}

form {
	padding: 10px;
	margin: auto;
	display: block;
	width: 500px;
	height: 450px;
	background-color: white;
}

legend {
	color: #5391C8;
	margin-top: 20px;
	font-size: 30px;
}

input {
	color: #555555;
	font-size: 20px;
	margin-bottom: 20px;
	padding: 4px;
	width: 500px;
	height: auto;
	border: 1px solid #555555;
}

#submit {
	display: inline-block;
	height: 50px;
	width: 100px;
	padding: 5px;
	color: white;
	font-size: 20px;
	text-decoration: none;
	border: 1px solid #cce5ff;
	background-color: #5391C8;
}

#submit:hover {
	color: white;
	cursor: pointer;
}