body {
	color: #034f84;
	font-family: "Arial";
	text-align: center; 
	background: white;
}


h1 {
	margin-top: 20px;
	font-size: 30px;
}

form {
	padding: 10px;
	margin: auto;
	display: block;
	width: 500px;
	height: 450px;
	background-color: white;
}

#submit {
	display: inline-block;
	width: 80px;
	margin: 20px;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
	border: 1px solid #cce5ff;
	color: #034f84;
	background-color: #81B3E0;
}

#submit:hover {
	cursor: pointer;
	color: #white;
	background-color: #5391C8;
	border-color: #e0e2e4;
	box-shadow: 0px 0px #6b54d3;
}

