body {
	color: #034f84;
	font-family: "Arial";
	text-align: center; 
	background: white;
}

header, footer {
    padding: 5px;
    margin: auto;
}

.container { 
	margin: auto;
	display: block;
	width: 750px;
	height: 450px;
	background-color: white;
}

img {
	width: 750px;
	border: 2px solid #034f84;	
	border-radius: 10px;
}

li {
	list-style-type: none;
}
